*{
    margin: 0;
    padding: 0;
}

#countLabel {
    display: block;
    text-align: center;
    font-size: 80px;
}

.buttons {
    display: flex;
    justify-content: center;
}

#num1Btn ,
#num2Btn ,
#num3Btn ,
#num4Btn ,
#num5Btn ,
#num6Btn ,
#num7Btn ,
#num8Btn ,
#num9Btn ,
#num0Btn {
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    background-color: white;
    border: 1px solid rgb(56, 35, 35);
    border-radius: 10px;

}